{ns hl7-terminology-r4.ext-namingsystem-title,
 import #{zen.fhir hl7-fhir-r4-core.string},
 schema {:zen/tags #{zen.fhir/extension
                     zen/schema
                     zen.fhir/structure-schema},
         :zen/desc "The human-readable descriptive name for the code or identifier system",
         :zen.fhir/type "string",
         :zen.fhir/profileUri "http://terminology.hl7.org/StructureDefinition/ext-namingsystem-title",
         :zen.fhir/version "0.6.30-12",
         :confirms #{hl7-fhir-r4-core.string/schema}}}
