{ns hl7-terminology-r4.ext-mif-relationship-relationshipKind,
 import #{hl7-fhir-r4-core.code
          zen.fhir
          hl7-terminology-r4.value-set.mif-conceptRelationshipKind},
 schema {:zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen/desc "Identifies a type of relationship between codes that is supported by this code system version",
         :zen.fhir/type "code",
         :zen.fhir/profileUri "http://terminology.hl7.org/StructureDefinition/ext-mif-relationship-relationshipKind",
         :zen.fhir/version "0.6.17-2",
         :confirms #{hl7-fhir-r4-core.code/schema},
         :zen.fhir/value-set {:symbol hl7-terminology-r4.value-set.mif-conceptRelationshipKind/value-set,
                              :strength :required}}}
