{ns hl7-terminology-r4.value-set.allergyintolerance-clinical,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Preferred value set for AllergyIntolerance Clinical Status.",
  :zen.fhir/version "0.5.24-1",
  :fhir/code-systems
  #{{:fhir/url
     "http://terminology.hl7.org/CodeSystem/allergyintolerance-clinical",
     :zen.fhir/content :bundled}},
  :uri
  "http://terminology.hl7.org/ValueSet/allergyintolerance-clinical",
  :version "0.5.0"}}