{ns hl7-terminology-r4.value-set.audit-event-outcome,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The type of process where the audit event originated from.",
            :zen.fhir/version "0.6.7-5",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/audit-event-outcome",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/audit-event-outcome",
            :version "0.5.0",
            :ftr {:module "ig",
                  :source-urls ["node_modules/hl7.terminology.r4"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
