{ns hl7-terminology-r4.value-set.communication-topic,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Codes describing the purpose or content of the communication.",
  :zen.fhir/version "0.6.5",
  :fhir/code-systems
  #{{:fhir/url
     "http://terminology.hl7.org/CodeSystem/communication-topic",
     :zen.fhir/content :bundled}},
  :uri "http://terminology.hl7.org/ValueSet/communication-topic",
  :version "0.1.0",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.terminology.r4"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}