{ns hl7-terminology-r4.value-set.consent-scope,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc "This value set includes the four Consent scope codes.",
  :zen.fhir/version "0.5.25-1",
  :fhir/code-systems
  #{{:fhir/url "http://terminology.hl7.org/CodeSystem/consentscope",
     :zen.fhir/content :bundled}},
  :uri "http://terminology.hl7.org/ValueSet/consent-scope",
  :version "0.1.0"}}