{ns hl7-terminology-r4.value-set.device-kind,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Codes used to identify medical devices. Includes concepts from SNOMED CT (http://www.snomed.org/)    where concept is-a 49062001 (Device)  and is provided as a suggestive example.",
  :zen.fhir/version "0.6.6-7",
  :fhir/code-systems
  #{{:fhir/url "http://snomed.info/sct",
     :zen.fhir/content :not-present}},
  :uri "http://terminology.hl7.org/ValueSet/device-kind",
  :version "0.2.0",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.terminology.r4"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}