{ns hl7-terminology-r4.value-set.encounter-class,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "This value set defines a set of codes that can be used to indicate the class of encounter: a specific code indicating class of service provided.",
  :zen.fhir/version "0.6.2",
  :fhir/code-systems
  #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-ActCode",
     :zen.fhir/content :bundled}},
  :uri "http://terminology.hl7.org/ValueSet/encounter-class",
  :version "1.0.0",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.terminology.r4"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}