{ns hl7-terminology-r4.value-set.implantStatus,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "A set codes that define the functional status of an implanted device.",
            :zen.fhir/version "0.16.13-2",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/implantStatus",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/implantStatus",
            :version "0.1.0",
            :ftr {:module "ig",
                  :source-urls ["node_modules/hl7.terminology.r4"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
