{ns hl7-terminology-r4.value-set.mif-conceptRelationshipKind,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Codes for use in the ext-mif-relationship-relationshipKind to capture V3 Model Interchange Format (MIF) SupportedConceptRelationship.relationshipKind values",
  :zen.fhir/version "0.5.30",
  :fhir/code-systems
  #{{:fhir/url
     "http://terminology.hl7.org/CodeSystem/hl7TermMaintInfra",
     :zen.fhir/content :bundled}},
  :uri
  "http://terminology.hl7.org/ValueSet/mif-conceptRelationshipKind",
  :ftr
  {:module "ig",
   :source-url "node_modules/hl7.terminology.r4",
   :source-type :ig,
   :ftr-path "ftr",
   :tag "init"}}}