{ns hl7-terminology-r4.value-set.service-category,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "This value set defines an example set of codes that can be used to classify groupings of service-types/specialties.",
  :zen.fhir/version "0.6.4",
  :fhir/code-systems
  #{{:fhir/url
     "http://terminology.hl7.org/CodeSystem/service-category",
     :zen.fhir/content :not-present}},
  :uri "http://terminology.hl7.org/ValueSet/service-category",
  :version "0.2.0",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.terminology.r4"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}