{ns hl7-terminology-r4.value-set.standards-status,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "HL7 Ballot/Standards status of artifact.",
            :zen.fhir/version "0.6.7-2",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/standards-status",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/standards-status",
            :version "0.1.0",
            :ftr {:module "ig",
                  :source-urls ["node_modules/hl7.terminology.r4"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
