{ns hl7-terminology-r4.value-set.study-type,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The type of study a statistic was derived from.",
            :zen.fhir/version "0.6.7",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/study-type",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/study-type",
            :version "0.1.0",
            :ftr {:module "ig",
                  :source-urls ["node_modules/hl7.terminology.r4"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
