{ns hl7-terminology-r4.value-set.supplydelivery-type,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "This value sets refers to a specific supply item.",
            :zen.fhir/version "0.6.7-2",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/supply-item-type",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/supplydelivery-type",
            :version "0.3.0",
            :ftr {:module "ig",
                  :source-urls ["node_modules/hl7.terminology.r4"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
