{ns hl7-terminology-r4.value-set.testscript-operation-codes,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "This value set defines a set of codes that are used to indicate the supported operations of a testing engine or tool.",
  :zen.fhir/version "0.5.24",
  :fhir/code-systems
  #{{:fhir/url
     "http://terminology.hl7.org/CodeSystem/testscript-operation-codes",
     :zen.fhir/content :bundled}},
  :uri
  "http://terminology.hl7.org/ValueSet/testscript-operation-codes",
  :version "0.3.0"}}