{ns hl7-terminology-r4.value-set.v2-0616,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Value Set of codes that specify the reason this address was marked as \"ended\".",
  :zen.fhir/version "0.5.23",
  :fhir/code-systems
  #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v2-0616",
     :zen.fhir/content :bundled}},
  :uri "http://terminology.hl7.org/ValueSet/v2-0616",
  :version "2.0.0"}}