{ns hl7-terminology-r4.value-set.v2-0483,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Concepts of forms of authorization a recorder may receive from the responsible practitioner to create or change an order.  Used in Version 2 messaging for orders in the ORC segment.",
            :zen.fhir/version "0.6.9",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v2-0483",
                                  :zen.fhir/content :bundled}},
            :uri "http://terminology.hl7.org/ValueSet/v2-0483",
            :version "2.0.0",
            :ftr {:module "ig",
                  :source-urls ["node_modules/hl7.terminology.r4"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
