{ns hl7-terminology-r4.value-set.v2-0109,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Value Set of codes which specify the priority associated with a report or update run using a query.",
  :zen.fhir/version "0.6.0",
  :fhir/code-systems
  #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v2-0109",
     :zen.fhir/content :bundled}},
  :uri "http://terminology.hl7.org/ValueSet/v2-0109",
  :version "2.0.0",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.terminology.r4"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}