{ns hl7-terminology-r4.value-set.v2-0961,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc "Codes used to identify medical devices.",
  :zen.fhir/version "0.5.31",
  :fhir/code-systems
  #{{:fhir/url "http://snomed.info/sct",
     :zen.fhir/content :not-present}},
  :uri "http://terminology.hl7.org/ValueSet/v2-0961",
  :version "2.0.0",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.terminology.r4"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}