{ns hl7-terminology-r4.value-set.v2-0443,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Value Set of codes that specify the functional involvement with the activity being transmitted (e.g., Case Manager, Evaluator, Transcriber, Nurse Care Practitioner, Midwife, Physician Assistant, etc.).",
  :zen.fhir/version "0.5.26",
  :fhir/code-systems
  #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v2-0443",
     :zen.fhir/content :bundled}},
  :uri "http://terminology.hl7.org/ValueSet/v2-0443",
  :version "2.0.0",
  :ftr
  {:module "ig",
   :source-url "node_modules/hl7.terminology.r4",
   :source-type :ig,
   :ftr-path "ftr",
   :zen/package-name "hl7-terminology-r4",
   :tag "init"}}}