{ns hl7-terminology-r4.value-set.v2-0905,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc "Value Set of codes specifying the status of a shipment.",
  :zen.fhir/version "0.5.25-1",
  :fhir/code-systems
  #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v2-0905",
     :zen.fhir/content :bundled}},
  :uri "http://terminology.hl7.org/ValueSet/v2-0905",
  :version "2.0.0"}}