{ns hl7-terminology-r4.value-set.v2-notAllCodes-0291,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "A subset of the IANA media subtypes of binary data that are encoded in an ascii structure or stream.",
  :zen.fhir/version "0.5.31-1",
  :fhir/code-systems
  #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v2-0291",
     :zen.fhir/content :bundled}},
  :uri "http://terminology.hl7.org/ValueSet/v2-notAllCodes-0291",
  :version "2.0.0",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.terminology.r4"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}